$box-border: 2px solid #ebebeb;
$box-padding: 40px;
$text-font-size: 12px;
$text-transform: uppercase;
$text-font-weight: 600;

@mixin box {
    border: $box-border;
    padding: $box-padding;
}

@mixin text {
    font-size: $text-font-size;
    text-transform: $text-transform;
    font-weight: $text-font-weight;
}

.checkout_area {
    .order-details-confirmation {
        width: 100%;
        @include box;
        .order-details-form {
            padding: 0;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0;
                @include text;
                padding: 20px 0;
                border-bottom: $box-border;
                font-weight: $text-font-weight;

                &:last-child {
                    font-weight: 700;
                    border-bottom: 0;
                }
            }
        }

        .cart-page-heading {
            margin-bottom: 10px;
        }
    }
}
