body {
    font-family: 'Roboto Slab', serif;
    padding: 0rem 8rem 0rem 8rem;
}

body .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

body .main {
    flex: 1;
}

* {
    box-sizing: border-box;
}
